# Mac stuff
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Ipython Notebook
.ipynb_checkpoints

.idea/

# data related files
recommender/preprocess/movielens/.movielens
recommender/preprocess/avazu_ctr/.avazu_ctr
recommender/preprocess/sample/.sample

# venv
.venv/
venv/

# log
recommender/*.log
recommender/*.pt
recommender/*.pkl
*.log
*.pt
*.pkl